<h2>Sign Up</h2>

<% if (errors.length > 0) { %>
<div class="alert alert-error">
  <ul>
    <% errors.forEach(error => { %>
    <li><%= error.msg %></li>
    <% }); %>
  </ul>
</div>
<% } %>

<form method="POST" action="/auth/signup" class="form-container">
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input
      type="text"
      id="firstName"
      name="firstName"
      class="form-input"
      value="<%= formData.firstName || '' %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input
      type="text"
      id="lastName"
      name="lastName"
      class="form-input"
      value="<%= formData.lastName || '' %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-input"
      value="<%= formData.email || '' %>"
      required
    />
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-input"
      required
    />
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password:</label>
    <input
      type="password"
      id="confirmPassword"
      name="confirmPassword"
      class="form-input"
      required
    />
  </div>

  <button type="submit" class="btn">Sign Up</button>
</form>

<p>Already have an account? <a href="/auth/login">Login here</a></p>
